
<div>

    <table class="table table-hover">

        <tbody>

            <tr>
                <th>SNO</th>
                <th>Test Id</th>
                <th>Test Title</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr *ngFor="let exam of arr;let i=index">
                <td>{{i+1}}</td>
                <td>{{exam.examId}}</td>
                <td>{{exam.examTitle}}</td>
                <td>{{exam.startTime}}</td>
                <td>{{exam.endTime}}</td>
                <td><button (click)="showQuestion(exam.examId)" class="btn btn-info">Show Question</button></td>
                <td><button   (click)="examDetails(exam.examId)" class="btn btn-success">Details</button></td> 
                <td><button  (click)="updateExam(exam.examId)" class="btn btn-warning">Update Test</button></td>
                <td><button (click)="deleteExam(exam.examId)" class="btn btn-danger">Delete Test</button></td>
              </tr>
              
            </tbody>
        </table>
    </div>

     <button  (click)="add()" class="btn btn-primary">Add Test</button> 