
 <div class=jumbotron >
    <form class="text-center" >

        <label > User : </label> &nbsp;
        <select [(ngModel)]="assignExam.user.userId"  id="users" name="users">
          <option> </option>
          <option   *ngFor="let user of userarr">{{user.userId}}</option>
        </select>
        <br>
        <label > Test : </label> &nbsp;
        <select   [(ngModel)]="assignExam.test.examId" id="tests" name="tests">
          <option> </option>
          <option *ngFor="let exam of examarr">{{exam.examId}}</option>
        </select>
       
       <button   (click)="assignExamToUser(assignExam.test.examId,assignExam.user.userId)" type="submit" class="btn btn-primary"> Assign Test  </button>
      </form>


</div> 