
<div>

    <table class="table table-hover">

        <tbody>

            <tr>
                <th>SNO</th>
                <th>Question Id</th>
                <th>Question Title</th>
                <th>Question Marks</th>
            </tr>
            <tr *ngFor="let question of arr;let i=index">
                <td>{{i+1}}</td>
                <td>{{question.questionId}}</td>
                <td>{{question.questionTitle}}</td>
                <td>{{question.questionMark}}</td>
                
               <td><button (click)="deleteQuestion(question.questionId)" class="btn btn-danger">Delete Question</button></td>
                <td><button  (click)="updateQuestion(question.questionId)" class="btn btn-warning">Update Question</button></td>
                <td><button   (click)="questionDetails(question.questionId)" class="btn btn-success">Details</button></td> 
                  
            </tr>
              
            </tbody>
        </table>
    </div>

     <button  (click)="add()" class="btn btn-primary">Add Question</button> 