
<div>

    <table class="table table-hover">

        <tbody>

            <tr>
           <th>SNO</th>
                <th>Test Id</th>
                <th>Test Title</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Test Duration</th>
                <th>Test Marks</th>
            </tr>
            <tr *ngFor="let assign of assignExamArray;let i=index">
                {{i+1}}
                <td>{{assign.test.examId}}</td>
                <td>{{assign.test.examTitle}}</td>
                <td>{{assign.test.startTime}}</td>
                <td>{{assign.test.endTime}}</td>
               <td>{{assign.test.examDuration}}</td>
               <td>{{assign.test.examMarks}}</td>
               <button   (click)="startExam(assign.test.examId)" type="submit" class="btn btn-primary"> Start Test  </button>
              </tr>
              
            </tbody>
        </table>
        
    </div>

   