<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <h2 class="navbar-brand"> Online Test Management</h2>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/list">TestList</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/listassigntest">AssignTest</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/viewresult">ViewResult</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/taketest">TakeTest</a>
    </li>
</ul>
</nav>

  <div>
     <router-outlet></router-outlet>
  </div>
