
<div>

    <table class="table table-hover">

        <tbody>

            <tr>
                <th>SNO</th>
                <th>User</th>
                <th>Test</th>
            </tr>
            <tr *ngFor="let assignExam of arr;let i=index">
                <td>{{i+1}}</td>
                <td>{{assignExam.user.userId}}</td>
                <td>{{assignExam.test.examId}}</td>
               
                <td><button (click)="deleteAssignedExam(assignExam.examUserId)" class="btn btn-danger">Delete Test</button></td>
              </tr>
              
            </tbody>
        </table>
    </div>

     <button  (click)="assignExams()" class="btn btn-primary">Assign Test</button> 