
<div class="jumbotron">
    <form  #questionform="ngForm" novalidate>
          <div class="form-group">
            <label for="quesname">Enter Question Title</label>
            <input [(ngModel)]="question.questionTitle" type="text"  class="form-control" name="quesname"  id="quesname" #quesname="ngModel" required>
            <div *ngIf="quesname.invalid && (quesname.dirty || quesname.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesname.errors.required">
                 Question tittle is required
             </div>
           </div>
          </div>
          
          <div class="form-group">
            <label for="quesop1">Enter Question Option 1</label>
            <input [(ngModel)]="question.questionOption1" type="text"  class="form-control" name="quesop1"  id="quesop1" #quesop1="ngModel" required >
            <div *ngIf="quesop1.invalid && (quesop1.dirty || quesop1.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesop1.errors.required">
                 Question Option 1 is required.
             </div>
           </div>
          </div>
          
          <div class="form-group">
            <label for="quesop2">Enter Question Option 2</label>
            <input [(ngModel)]="question.questionOption2" type="text"  class="form-control" name="quesop2"  id="quesop2" #quesop2="ngModel" required>
            <div *ngIf="quesop2.invalid && (quesop2.dirty || quesop2.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesop2.errors.required">
                 Question option 2 is required.
             </div>
           </div>
          </div>

          <div class="form-group">
            <label for="quesop3">Enter Question Option 3</label>
            <input [(ngModel)]="question.questionOption3" type="text"  class="form-control" name="quesop3"  id="quesop3" #quesop3="ngModel" required>
            <div *ngIf="quesop3.invalid && (quesop3.dirty || quesop3.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesop3.errors.required">
                 Question Option 3 is required.
             </div>
           </div>
          </div>


          <div class="form-group">
            <label for="quesop4">Enter Question Option 4</label>
            <input [(ngModel)]="question.questionOption4" type="text"  class="form-control" name="quesop4"  id="quesop4" #quesop4="ngModel" required>
            <div *ngIf="quesop4.invalid && (quesop4.dirty || quesop4.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesop4.errors.required">
                 Question Option 4 is required.
             </div>
           </div>
          </div>

          <div class="form-group">
            <label for="quesans">Enter Question Answer</label>
            <input [(ngModel)]="question.questionAnswer" type="number"  class="form-control" name="quesans"  id="quesans" #quesans="ngModel" required>
            <div *ngIf="quesans.invalid && (quesans.dirty || quesans.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesans.errors.required">
                 Question Answer is required.
             </div>
           </div>
          </div>

          <div class="form-group">
            <label for="quesmark">Enter Question Mark</label>
            <input [(ngModel)]="question.questionMark" type="number"  class="form-control" name="quesmark"  id="quesmark" #quesmark="ngModel" required >
            <div *ngIf="quesmark.invalid && (quesmark.dirty || quesmark.touched)"
            class="alert alert-danger">
 
             <div *ngIf="quesmark.errors.required">
                 Question Marks is required.
             </div>
           </div>
          </div>

         
         

          <button   (click)="addQuestion()" [disabled]="!questionform.form.valid" type="submit" class="btn btn-primary"> Add Question </button>

    </form>

</div>
