
<h1>Test Details</h1> 

<hr/>
<div *ngIf="exam">
  <div>
    <label><b>Test Id :</b></label> {{exam.examId}}
  </div>
  <div>
    <label><b>Test Title:</b></label> {{exam.examTitle}}
  </div>
  <div>
    <label><b>Test Marks :</b></label> {{exam.examMarks}}
  </div> 
  <div>
    <label><b>Start Time :</b></label> {{exam.startTime}}
  </div> 
  
  <div>
    <label><b>End Time: </b></label> {{exam.endTime}}
  </div> 

  <div>
    <label><b>Test Duration</b></label> {{exam.examDuration}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Test List</button><br>
